.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.screenImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
